@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000011;
  margin: 0;
  padding: 0;
}
